/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 250px;
    padding: 1rem 0;
    background-color: #f8f9fa;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar .nav-link:hover {
    background-color: #e9ecef;
    color: #0d6efd;
}



.sidebar h5 {
    padding-left: 20px;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}

/* Formulario */
form {
    margin-left: 260px; /* Ajuste para el espacio del sidebar */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin-top: 50px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-label {
    font-weight: 600;
    margin-bottom: 5px;
}

.form-control {
    border-radius: 8px;
    border: 1px solid #ced4da;
    padding: 10px 15px;
    font-size: 14px;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 5px rgba(13, 110, 253, 0.5);
}

textarea.form-control {
    resize: none;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 20px;
}

.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(13, 110, 253, 0.3);
}

/* Ajustes de columnas */
.row .col {
    padding: 0 10px;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}
